*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  line-height: 1.6;
  font-family: "Red Hat Display", sans-serif;
}
a{
  text-decoration: none;
}
:root{
  --primaryColor: #35b8f0
}

.close-btn {
  position: absolute;
  top: 8px;
  left: 8px;
}
.v-table th,
.v-table td {
  border: 1px solid #ccc;   /* minden cella körül szürke vonal */
}